body {
    background-image: url('imgs/Cleveland-the-Beautiful-cyanotype.jpg');
    background-size: 100%;
}

 #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

 .nav-tabs>li>a {
       margin-right: 2px;
       line-height: 1.42857143;
       border: 1px solid transparent;
       border-radius: 4px 4px 0 0;
 }

 .pagetitle {
     text-align: center;
     color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
 }

 .landmark_list {
     width:30%;
     cursor: pointer;
 }
 
 .landmark_name {
     width: 60%;
     text-align: left;
     padding-left: 5%;
 }

 .text-black {
      color: black;
    }

 .text-white {
     color: white;
 }

 #descriptionHelp {
     color:black;
 }
 .landmark_description {
     width: 10%;
     text-align: right;
     padding-left: 5%;
     white-space: nowrap;
 }

 .approve_list div {
     width:100%;
 }

 .landmark_name_pending {
     text-align: left;
     padding: 0%;
     margin: 0%;
 }

 .landmark_description_pending {
     
 }

#landmark_table {
     cursor:pointer;
 }

 .approve_tab {
     text-align:left;
 }

 #submit_approval_button {
     margin: 0 auto;
     float: left;
 }

 #create_itin_button {
     text-align:center;
 }

 .center-table
{
  margin: 0 auto !important;
  float: none !important;
}


 .list_of_itineraries {
     width: 75%;
 }

 .itinerary_row {
   text-align: center;
 }

 .itinerary_name .itinerary_row {
     font-size: 3em;
 }

 .itinerary_date .itinerary_row {
    font-size: 1em;
 }


  .itinerary_date_detailpage {
    font-size: 1.5em;
    text-align: center;
 }
