@model List<Capstone.Web.Models.ItineraryModel>
@{
    ViewBag.Title = "ViewItineraries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pagetitle">Your Itineraries</h2>

<p> You do not have any itineraries. </p>
<br />
<p> Click <b>Create Itinerary</b> to plan your route! </p>

<button>Create Itinerary</button>



