@model List<Capstone.Web.Models.ItineraryModel>

@{
    ViewBag.Title = "ViewItineraries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pagetitle">Your Itineraries</h2>
<table class="center-table">

    <tr>
        <td class="text-center">
            <br />
            Click <b>Create Itinerary</b> to plan your route!
            <br />
            <br />
        </td>
    </tr>

    <tr>
        <td>
            <br />
            <button type="button" class="btn btn-primary center-block" id="create_itin_button">Create Itinerary</button>
            <br />
        </td>
    </tr>
  </table>

<table class="list_of_itineraries table-bordered center-table">
    @if (Model != null)
    {
        if ((Model.Count == 0))
        {
            <tr class="itinerary_row">
                <td class="text-center">
                    <br />
                    You do not have any itineraries.
                    <br />
                </td>
            </tr>
        }

        else
        {

            foreach (var itinerary in Model)
            {
                <tr class="itinerary_row">
                    <td>
                        <b>@itinerary.Name</b>
                    </td>
                    <td>
                        @itinerary.Date.DayOfWeek
                        @itinerary.Date.ToShortDateString()
                    </td>

                </tr>
            }


        }
    }

</table>
