@model List<Capstone.Web.Models.ItineraryModel>

@{
    ViewBag.Title = "ViewItineraries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pagetitle">Your Itineraries</h2>
<table class="center-table">

    <tr>
      s  <td class="text-center">
            <br />
            Click <b>Create Itinerary</b> to plan your route!
            <br />
        </td>
    </tr>

    <tr>
        <td>
            <br />
            <button type="button" class="btn btn-primary center-block" id="create_itin_button">Create Itinerary</button>
            <br />
        </td>
    </tr>

    <tr>
        <td class="text-center">
            <br />
            You do not have any itineraries.
            <br />
        </td>
    </tr>

    @*@if ((Model.Count == 0))
    {

    }
    else
    {

    }*@

</table>



