@model Capstone.Web.Models.ReviewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container well">
    <h2 class="center-block">Submit Review</h2>


































</div>