
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/styles.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-3.1.1.js"></script>
    <script src="../../Scripts/scripts.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.js "></script>
</head>
<body>
    <header>
        <img src="../../Content/imgs/skyline.png" />
    </header>
    <nav>
        <ul>
            <li name="home">@Html.ActionLink("Home", "Index", "Home")</li>
            <li name="viewLandmarks">@Html.ActionLink("View Landmarks","LandmarkList","Landmark")</li>
            <li name="submitLandmark">@Html.ActionLink("Submit a Landmark","SubmitNewLandmark","Landmark")</li>
        </ul>
    </nav>
    <section id="main_content">
        @RenderBody()
    </section>
</body>
</html>
