@{ 
    string imageSource;
}

<div class="col-sm-6">
    @Html.Partial("_Map")

</div>

<div class="col-sm-4 col-sm-offset-1">
    <table class="table table-responsive table-bordered table-hover panel panel-default" id="landmark_table">
        <thead>
            <tr>
                <th> </th>
                <th>Landmark Name</th>
                <th id="distance_header">Distance</th>
            </tr>
        </thead>
        @foreach (var landmark in Model)
            {
            <tr onclick="location.href = '@Url.Action("LandmarkDetail", "Landmark", new { landmarkID = landmark.ID })'">
                <td class="landmark_list">

                    @if (landmark.ImageName.StartsWith("https://"))
                    {
                        imageSource = landmark.ImageName;
                    }
                    else
                    {
                        imageSource = "/Content/imgs/" + landmark.ImageName;
                    }

                    @*<a>wrap image below in link to detail page, and also the name just to keep Rami quiet</a>*@
                    <img class="img-responsive img-thumbnail" src=@imageSource />
                </td>
                <td class="landmark_name">
                    @landmark.Name
                </td>

                <td class="landmark_distance" id="lmID@(landmark.ID)"></td>
            </tr>
        }
    </table>
</div>

