@model Capstone.Web.Models.LandmarkModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "LandmarkDetail";
}


<div class="container row">
    <div class="col-lg-8 col-sm-8">
        <img class="img-responsive img-thumbnail" src="~/Content/imgs/@Model.ImageName" />
    </div>
    <div class="col-lg-offset-1 col-lg-3 col-sm-4 well well-sm">
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
    </div>
</div>



<div id="reviews_container">
    <h2 class="pagetitle">Reviews</h2>
    <p class="well well-sm"> Username says:<br />5 stars! This is the greatest landmark detail view I've ever seen!</p>
</div>