@model Capstone.Web.Models.LandmarkModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "LandmarkDetail";
}

<h1>@Model.Name</h1>

<img src="~/Content/imgs/@Model.ImageName" />

<p>@Model.Description</p>


<div id="reviews_container">
    <h2>Reviews</h2>
    <p> Username says:<br />5 stars! This is the greatest landmark detail view I've ever seen!</p>
</div>