@model Capstone.Web.Models.LandmarkModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "LandmarkDetail";
}

<h1>@Model.Name</h1>

<img src="~/Content/imgs/@Model.ImageName" />

<p>@Model.Description</p>