@model List<Capstone.Web.Models.LandmarkModel>
@{
    ViewBag.Title = "LandmarkList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container well well-sm">
    <h2 class="pagetitle">View Landmarks</h2>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            @Html.Partial("_MapList", Model)
            <script>
                var pos;
                var landmarkLatLng = [];
                generateMap(@Html.Raw(Json.Encode(Model)))
            </script>

        </div>
    </div>
</div>
<script>getDistances();</script>