@model List<Capstone.Web.Models.LandmarkModel>
@{
    ViewBag.Title = "LandmarkList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://maps.google.com/maps/api/js?key=AIzaSyDu0VhcsrEx_f3CdQFVOC_Sw3r29lWBnYA"
        type="text/javascript"></script>

<h2>LandmarkList</h2>
<div id="map"  style="width: 500px; height: 400px;"></div>
<script>
    generateMap(@Html.Raw(Json.Encode(Model)));
</script>

@foreach (var landmark in Model)
{
    <div class="landmark_list">
        @*<a>wrap image below in link to detail page, and also the name just to keep Rami quiet</a>*@
        <img class="thumbnail" src="@("/Content/imgs/" + landmark.ImageName)" />
        <div class="landmark_details">
            <p class="landmark_name">@landmark.Name</p>
        </div>

    </div>
}