@model List<Capstone.Web.Models.LandmarkModel>
@{
    ViewBag.Title = "LandmarkList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="pagetitle">Landmark List</h2>

@Html.Partial("_Map")
<br />
<br />

<script>
   generateMap(@Html.Raw(Json.Encode(Model)));
</script>

<p> TEST BEFORE LOOP </p>

@foreach (var landmark in Model)
{
    <p> TEST IN LOOP </p>
    <li class="landmark_list">
            @*<a>wrap image below in link to detail page, and also the name just to keep Rami quiet</a>*@
            <img class="thumbnail" src="@("/Content/imgs/" + landmark.ImageName)" />
            <div class="landmark_details">
                <p class="landmark_name">@landmark.Name</p>
                <p> TEST </p>
            </div>
    </li>
}