@model Capstone.Web.Models.LandmarkModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "LandmarkDetail";
    string imageSource;
}

<div class="container well well-sm center-block">
    <h2 class="pagetitle">Landmark Detail</h2>
    <br />
    <br />
    <div class="center-block">
        <div class="center-block">
            @if (Model.ImageName.StartsWith("https://"))
            {
                imageSource = Model.ImageName;
            }
            else
            {
                imageSource = "/Content/imgs/" + Model.ImageName;
            }
            <img class="img-responsive img-thumbnail center-block" src=@imageSource />
            <br />
            <br />
            <div>
                <h3>@Model.Name</h3>
                <p>@Model.Description</p>
            </div>
            <br />
            <br />
        </div>
        <div>
            <h3>Reviews</h3>
            <p class="well well-sm" style="text-align: center;"> <strong>Visitors say:</strong> 5 stars! This is the greatest place I've ever seen!</p>
        </div>
    </div>

