@model List<Capstone.Web.Models.LandmarkModel>
@{
    ViewBag.Title = "LandmarkList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string imageSource;
}



<h2 class="pagetitle">Landmark List</h2>

@Html.Partial("_Map")
<br />
<br />

<script>
   generateMap(@Html.Raw(Json.Encode(Model)));
</script>

<p> TEST BEFORE LOOP </p>

@foreach (var landmark in Model)
{

    <div class="landmark_list">
        
        @if (landmark.ImageName.StartsWith("https://"))
        {
            imageSource = landmark.ImageName;
        }
        else
        {
            imageSource = "/Content/imgs/" + landmark.ImageName;
        }
        @*<a>wrap image below in link to detail page, and also the name just to keep Rami quiet</a>*@
        <img class="thumbnail" src=@imageSource />
        <div class="landmark_details">
            <p class="landmark_name">@landmark.Name</p>
        </div>

    </div>

}